@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.customScrollNav::-webkit-scrollbar {
  width: 5px;
}
.customScrollNav::-webkit-scrollbar-thumb {
  background: #a7effa;
  opacity: 0.2;
}
.customScrollNav::-webkit-scrollbar-track {
  background: #e0e4e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: "#000";
  background: #f8f8f8;
}
